.logo {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
}
.logo img {
  width: 150px;
}
.search-box {
  width: 400px;
  margin-left: 0px;
  padding: 10px 24px;
  border-radius: 25px;
  display: flex;
  background: #2d2f30;
  color: #f2f2f2;
}
.search-box--active {
  border-radius: 25px 25px 0 0;
}
.search-box--input {
  padding: 7px;
  width: 280px;
  outline: 0px;
  border: 0px;
  font-size: 15px;
  background: #2d2f30;
  color: #f2f2f2;
}
.search-box--cancelBtn {
  font-size: 15px;
  margin-top: 8px;
  margin-left: 140px;
  cursor: pointer;
}
.search-box--searchBtn {
  height: 30px;
  width: 100px;
  margin-top: 3px;
  margin-left: 13px;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  color: black;
  background-color: #f8db15;
  cursor: pointer;
}
.search-box--searchBtn--logo {
  margin: 0.5px;
  padding: 5px;
}
.search-box--searchBtn1 {
  height: 30px;
  margin-top: 3px;
  margin-left: 130px;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  color: black;
  background-color: #f8db15;
  cursor: pointer;
}
.search-box--searchBtn--logo1 {
  margin: 0.5px;
  padding: 5px;
}
.search-box--splitLine {
  height: 35px;
  width: 0.5px;
  margin-left: 20px;
  border: 0.5px solid rgb(34, 33, 33);
  background-color: black;
}

.search-box--loader {
  margin-top: 5px;
  margin-left: 13px;
  border: 3px solid #2d2f30;
  border-radius: 50%;
  border-top: 3px dashed #f8db15;
  width: 50px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.suggestion-box {
  height: 220px;
  width: 448px;
  border-radius: 0 0 25px 25px;
  background-color: #2d2f30;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}
.suggestion-box--splitLine {
  width: 90%;
  border: 0.5px solid rgba(75, 74, 74, 0.884);
  background-color: black;
  margin-left: 20px;
}
.error-text {
  color: #f8db15;
  text-align: center;
}


@media only screen and (max-width: 640px) {
  .search-box {
    width: 252px;
  }
  .search-box--input {
    width: 150px;
  }
  .suggestion-box {
    width: 300px;
  }
  .search-box--cancelBtn {
    margin-left: 10px;
  }
  .search-box--searchBtn {
    width: 30px;
  }
  .search-box--searchBtn1 {
    margin-left: 60px;
  }
}
