.person-parent{
  /* border: 1px solid white; */
  display: flex;
}

.person-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.person-image img{
  width: 100%;
}

.person-card {
  width: 325px;
  margin: 50px auto;
  background-color: #2d2f30;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.person-card--logo {
  width: 150px;
  margin-left: 90px;
}

.person-card--contentBox--p {
  padding: 8px;
  font-weight: 500;
  text-align: center;
  color: #f8db15;
  font-weight: 600;
  font-size: 20px;
}
.person-card--redirectBtn {
  height: 40px;
  width: 80%;
  border-radius: 8px;
  background-color: #f8db15;
  text-align: center;
  margin-left: 30px;
}
.person-card--redirectBtn--p {
  padding: 8px;
  font-weight: 800;
}
